<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
        <title>Login Demo - Kakao JavaScript SDK</title>
        <script src="../../static/accounts/js/kakao.js"></script>
    </head>

    <body>
<!--    <a id="kakao-link-btn" href="javascript:sendLink()"><button>자바스크립트: 카카오톡 친구에게 선물하기</button></a>-->
    <a id="demo"><button>자바스크립트: 카카오톡 친구에게 선물하기</button></a>
    <button id="but">callback 데이터 알람창으로 확인하기</button>


    <script type='text/javascript'>
            document.getElementById("demo").onclick = function() {myFunction()};

            function myFunction() {
              console.log("CHECK INIT", Kakao.isInitialized()); // check if its been initialized

              if (Kakao.isInitialized()) {
                  console.log("INITIALIZED", Kakao.isInitialized()); // check if its been initialized

              }else{
                Kakao.init('61b6098ac2bea13454d2fa44d235b788');  // sdk initialization, javascript key
                  console.log("INITIALIZING", Kakao.isInitialized()); // check if its been initialized
                };
              Kakao.Link.sendDefault({
                objectType: 'feed',
                content: {
                    title: '디저트 사진',
                    description: '아메리카노, 빵, 케익',
                    imageUrl: 'http://mud-kage.kakao.co.kr/dn/NTmhS/btqfEUdFAUf/FjKzkZsnoeE4o19klTOVI1/openlink_640x640s.jpg',
                        link: {
                          mobileWebUrl: 'https://google.com',
                          androidExecParams: 'test',
                        },
                    },
                serverCallbackArgs: '{"myKey":"myValue"}',

                success: function(response) {
                    console.log('success');
                    console.log('success',response);
                    document.getElementById("res").innerHTML = response;
                  },
                  fail: function(error) {
                    console.log('fail',error);
                  }
              });

            };

            document.getElementById("but").onclick = function() {
                let url = new URL("https://3e15ed8d2ccd.ngrok.io/callback?'k'='v'");
                let searchParams = new URLSearchParams(url.search);
                console.log(searchParams);
                alert(searchParams);
                console.log(searchParams.get('k'));
                alert(searchParams.get('k'));
            };
        </script>

    </body>
</html>