<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
        <title>Login Demo - Kakao JavaScript SDK</title>
        <script src="../../static/accounts/js/kakao.js"></script>
    </head>

    <body>
    <a id="demo"><button>자바스크립트sdk: 카카오톡 친구에게 카톡보내기</button></a>

    <script type='text/javascript'>
            document.getElementById("demo").onclick = function() {myFunction()};

            function myFunction() {
              console.log("CHECK INIT", Kakao.isInitialized()); // check if its been initialized

              if (Kakao.isInitialized()) {
                  console.log("INITIALIZED", Kakao.isInitialized()); // check if its been initialized

              }else{
                Kakao.init('61b6098ac2bea13454d2fa44d235b788');  // sdk initialization, javascript key
                  console.log("INITIALIZING", Kakao.isInitialized()); // check if its been initialized
                };
              Kakao.Link.sendDefault({
                objectType: 'feed',
                content: {
                    title: '디저트 사진',
                    description: '아메리카노, 빵, 케익',
                    imageUrl: 'http://mud-kage.kakao.co.kr/dn/NTmhS/btqfEUdFAUf/FjKzkZsnoeE4o19klTOVI1/openlink_640x640s.jpg',
                        link: {
                          mobileWebUrl: 'https://www.google.com/search?sxsrf=ALeKk0379z4-a5XZi4F8oZNUknA9N2rlmw%3A1592181900503&source=hp&ei=jMTmXquxHJX4hwOmmrmICw&q=%EC%9D%B4%EC%98%81%EC%A7%84&oq=%EC%9D%B4%EC%98%81%EC%A7%84&gs_lcp=CgZwc3ktYWIQAzIFCAAQgwEyBQgAEIMBMgUIABCxAzIFCAAQsQMyBQgAELEDMgUIABCxAzICCAAyAggAMgUIABCDATIFCAAQsQM6BAgjECc6BAgAEAo6BwgjEOoCECdQqwJYkSNg8yNoAnAAeAGAAa0BiAGcCJIBAzAuOJgBAKABAaoBB2d3cy13aXqwAQo&sclient=psy-ab&ved=0ahUKEwirp-Hky4LqAhUV_GEKHSZNDrEQ4dUDCAc&uact=5',
                          androidExecParams: 'test',
                        },
                    },
                    // 카카오톡 서버에서 다시 mykey return 해줌. 보냈던 메시지를 식별해준다.
                serverCallbackArgs: '{"myKey":"myValue"}',
              });
            };
        </script>

    </body>
</html>